.container {
    height: 500px;
    overflow: auto;
  }

  /* Agrega un estilo al botón para subir */
  .scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #333;
    color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }

  /* Muestra el botón para subir cuando el usuario haya desplazado hacia abajo lo suficiente */
  .container::-webkit-scrollbar-thumb {
    background-color: #666;
  }
  
  .container::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
  
  .container::-webkit-scrollbar-track {
    background-color: #ddd;
  }
  
  .container::-webkit-scrollbar {
    width: 10px;
  }

  .container::-webkit-scrollbar-button {
    display: none;
  }
  
  .container::-webkit-scrollbar-corner {
    display: none;
  }
  
  .container.scrollable::-webkit-scrollbar-button {
    display: block;
  }
  
  .container.scrollable:hover .scroll-to-top {
    display: block;
  }