.quienes-somos {
    max-width: 800px;
    margin: auto;
    padding: 40px 20px;
  }
  
  .quienes-somos h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
  }
  
  .quienes-somos p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  